body {
  background-color: #fafafa;  
}

.landing_title {
    font-family: 'Spectral', serif;
    font-size: 4.5rem; /* 72px */
    line-height: 1;
    color: #535B5E;
    white-space:nowrap;
}

h1 {
    font-family: 'Spectral', serif;
    font-size: 3rem !important;
    line-height: 3.5rem;
    color: #444444;
    padding: 20px;
}

h2 {
  font-family: 'Spectral', serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #535B5E;
  padding: 20px;
}

.summary {
    font-size: 2rem; 
    line-height: 2.5rem; 
}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5rem; /* 24px */
    line-height: 2.25rem; /* 36px */
    color: #505050;
    text-align: justify;
    text-justify: auto;
    padding: 20px;
}

blockquote{
    display:block;
    background: #fff;
    padding: 10px 10px 10px 10px;
    margin: 0 0 20px;
    position: relative;
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    
    /*Borders - (Optional)*/
    border-left: 15px solid #535B5E;
    border-right: 2px solid #ccc;
    
    /*Box Shadow - (Optional)*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
  }
  
  blockquote::before{
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    
    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
  }
  
  blockquote::after{
    /*Reset to make sure*/
    content: "";
  }
  

  blockquote em{
    font-style: italic;
  }

  /* unvisited link */
a:link {
  color: #2867B2;
}

/* visited link */
a:visited {
  color: #2867B2;
}

/* mouse over link */
a:hover {
  color:#4682cc;
}

/* selected link */
a:active {
  color: #2867B2;
}

.post {
  font-family: 'Spectral', serif;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  color: #505050;
  text-align: justify;
  text-justify: auto;
}

.post-title {
  font-size: 1.25em;
  color: #444444;
  font-weight: bold;
}

.post-meta {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  margin: 4px;
  border-left: 4px solid #cccccc;
  color: #cccccc;
  padding-left: 10px;  
}

.post-action {
  color: #2867B2;
  font-weight: bold;
  font-size: medium;
}

.post-description {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  color: #505050;
  text-align: justify;
  text-justify: inter-word;
}

.post h1,h2,h3,h4,h5,h6 {
  color: #535B5E !important;  
}

.post h1 {
  font-size: 1.25em !important;  
  font-weight: bold;  
}

.post h2 {
  font-size: 1em;  
  font-weight: bold;  
}

.post h3 {
  font-size: 1em;  
  font-style: italic;
}